body {
    background-color: #EAF2F5;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.wrap{
    margin: 0 auto;
    width: 85%;
}

.navbar-color {
    background-color: #0e456b;
}

.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

.copyright {
    background-color: #000;
}


/*///// SECTIONS /////////*/

section.recursos{
    height: 1000px;
    position:relative;
}

section.recursos h4{
    font-size: 45px;
    margin-top: -15px;
}

section.planos h4{
    font-size: 45px;
    margin-top: -15px;
}


.planos {

}

.smartphone {
    width: 30%;
    float: right;
}

.container-recursos {
    width: 65%;
    float: left;
    margin-left: 10px;
    padding: 20px;
    line-height: 35px;
}

.recursos-ficha {
    background-color: tomato;
    margin-top: 35px;
    float: left;
    height: 20%;
    width: 80%;
    padding: 30px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: inline;
}

.recursos-avaliacao {
    background-color: darkorchid;
    margin-top: 35px;
    float: right;
    height: 20%;
    width: 80%;
    padding: 45px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: inline;
    vertical-align: middle;
}

.recursos-gerenciamento {
    background-color: sandybrown;
    margin-top: 35px;
    float: left;
    height: 20%;
    width: 80%;
    padding: 35px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: inline;
}

.recursos-acompanhamento {
    background-color: darkturquoise;
    margin-top: 35px;
    float: right;
    height: 20%;
    width: 80%;
    padding: 45px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: inline;
    align-items: center; 
}